body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(s2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 12%;
    height: 14%;
    background-image: url(logo.png);
    background-repeat: no-repeat;
}

#container {
    width: 80%;
    height: 86%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 40px 0px;
}

#imagem {
    width: 50%;
    height: 86%;
    float: left;
    display: flex;
    justify-content: center;
}

#math {
    width: 80%;
    height: 80%;
    margin: auto;
    background-image: url(matheus.jpg);
    background-repeat: no-repeat;

}


#texto {
    width: 50%;
    height: 80%;
    float: right;
    display: flex;
    justify-content: center;
}

#conteudo {
    width: 80%;
    height: 80%;
    margin: auto;

}

#tex {
    font-size: 35px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;    
    justify-content: center;
    color: black;
}