body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
     font-family: Arial, Helvetica, sans-serif;

}
.fundo {
    background-image: url(fundo.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
}
.opc {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.2);
}

.header {
height: 100px;
width: 100%;
}

.logo {
    width: 15%;
    height: 120%;
    margin-left: 1.5%;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    
}

.nav {
    width: 40%;
    height: 70%;
    margin-left: 60%;
    margin-top: -100px;
    

}

.nav li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-right: 5%;
    font-size: 150%;
}

.nav a {
    text-decoration: none;
    color:black;
}

a:hover {
    color: yellow;
}

.centro {
    height: 100px;
    width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
   transform: translate(-50%, -50%);
   text-align: center;
}
.centro h1 {
    color: black;
    font-size: 60px;
    margin: 0%;
}

.centro h2 {
    color: black;
    font-size: 25px;
    margin: 0%;
}


.baixo {
top: 93%;
position: absolute;
left: 45%;
width: 20%;
}

.baixo img {
    width: 12%;
    height: 10%;
    margin-right: 15%;
    background-repeat: no-repeat;
}

hr {
    width: 120%;


}
/* Parte Curso */
.curso {
width: 100%;
height: 100%;
top: 100%;
position: absolute;
background-size: cover;
background-image: url(fundoc.jpg);
}

.curso h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: white;
}

.conteudo {
    margin-left: 12%;
    margin-top: 10%;
    width: 20%;
    height: 50%;
    background-color:rgba(8, 8, 8, 0.815);
    border-radius: 40px 0px;
}

.conteudo h2 {
    font-size: 20px;
    color:red;
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
}

.conteudo2 {
    margin-left: 40%;
    margin-top: -25.5%;
    width: 20%;
    height: 50%;
    background-color:rgba(64, 224, 208, 0.719);
    border-radius: 40px 0px;
}

.conteudo2 h2 {
    font-size: 20px;
    color:black;
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
}

.conteudo3 {
    margin-left: 70%;
    margin-top: -25.5%;
    width: 20%;
    height: 50%;
    background-color:rgba(71, 212, 71, 0.705);
    border-radius: 40px 0px;
}

.conteudo3 h2 {
    font-size: 20px;
    color:black;
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
}

/* Fim do curso */


/* inicio login */
.login {
width: 100%;
height: 100%;
top: 200%;
position: absolute;
background-size: cover;
background-image: url(fundol.jpg);
}

.login h3{
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}

.login h2{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
}

.logar {
background-color: rgba(0, 0, 0, 0.753);
height: 60%;
width: 30%;
margin-left: 35%;
border-radius: 30px 30px;
}

.logar h3 {
margin-top: 4%;
position: absolute;
margin-left: 11%;
color: white;
}

input {
    margin-top: 20%;
}