body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
}
.divmaior {
    height: 100%;
    width: 100%;
    background-image: url(telainicial.jpg);
    background-size: cover;
}
.divheader {
   height: 80px;
   width: 100%; 
  
}
.divinformacoes {
    padding: 5px;
    margin-top: 10px; /* margin-top serve para ajustar a margem da parte de cima.*/
    float: right;
    margin-right: 120px; /* irá fazer um espaçamento da direita para o meio*/
    height: 30px;
    width: 550px;     
    text-align: center;
}

.divmenu{
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    height: 30px;
    width: 50px;
    
    
    

}
.logo {
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    height: 100px;
    width: 100px;
    background-image: url(logo.png);
    background-size: cover;
    
}
.central {
    height: 100px;
    width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
   transform: translate(-50%, -50%);
   text-align: center;
    
}

.divinformacoes li {
    display: inline-block;
    font-size: 20px;
    margin-right: 5%;
    color: white;
    

}
.divinformacoes a {
    text-decoration: none;
    color: white;

}
.divinformacoes a:hover {
    color: yellow;
}
.central h4 {
    color: white;
    font-size: 60px;
    margin: 0%;
}
.central h5 {
    color: white;
    font-size: 20px;    
}

.divmenu img {
    height: 50px;
    width: 50px;
    
}